<Layouts.app flash={@flash} current_scope={@current_scope}>
  <div class="mx-auto max-w-sm">
    <div class="text-center">
      <img src={~p"/images/dodo-logo.png"} alt="DodoRouter" class="w-32 h-32 mx-auto mb-4" />
      <.header>
        Register for an account
        <:subtitle>
          Already registered?
          <.link navigate={~p"/users/log-in"} class="font-semibold text-brand hover:underline">
            Log in
          </.link>
          to your account now.
        </:subtitle>
      </.header>
    </div>

    <.form :let={f} for={@changeset} action={~p"/users/register"}>
      <.input
        field={f[:email]}
        type="email"
        label="Email"
        autocomplete="username"
        spellcheck="false"
        required
        phx-mounted={JS.focus()}
      />

      <div class="form-control mt-4">
        <label class="label cursor-pointer justify-start gap-3">
          <input
            type="checkbox"
            name={f[:tos_accepted].name}
            value="true"
            checked={f[:tos_accepted].value in [true, "true"]}
            class="checkbox checkbox-primary"
            required
          />
          <span class="label-text">
            I agree to the
            <a href="/terms" target="_blank" class="link link-primary">Terms of Service</a>
          </span>
        </label>
        <%= if f[:tos_accepted].errors != [] do %>
          <span class="text-error text-sm mt-1">
            <%= for {msg, _opts} <- f[:tos_accepted].errors do %>
              {msg}
            <% end %>
          </span>
        <% end %>
      </div>

      <.button phx-disable-with="Creating account..." class="btn btn-primary w-full mt-4">
        Create an account
      </.button>
    </.form>
  </div>
</Layouts.app>
